<!DOCTYPE html>
<html>
<head>
    <title>Ajax Test</title>
    <link href="/example/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/example/js/jquery.min.js"></script>
    <script type="text/javascript" src="/example/js/angular.min.js"></script>
    <script type="text/javascript" src="/example/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        Ctrl = function($scope)
        {
            $scope.call = function()
            {
                $.ajax({
                    url: "http://lly:8080/ajax/get",
                    type: "GET",
                    dataType: "jsonp",
                    jsonpCallback: "logInfo"
                });
            }

            $scope.post = function()
            {
                $.ajax({
                    url: "http://lly:8080/ajax/post",
                    type: "GET",
                    dataType: "jsonp",
                    jsonpCallback: "logInfo",
                    data: "data=" + $scope.token
                });
            }
        }

        logInfo = function(data)
        {
            $('#token').val(data['token']);
        }
    </script>
</head>
<body ng-app>
    <div class="container" ng-controller="Ctrl">
        <div class="row-fluid">&nbsp;</div>
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid well">
                    <div class="span2"><button class="btn btn-info" ng-click="call();">Get from lly</button></div>
                    <div class="span2"><button class="btn btn-info" ng-click="post();">Post to lly</button></div>
                    <div class="span8"><input class="input-block-level" id="token" type="text" ng-model="token" placeholder="Token..."/></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>