<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Shelf</title>
    <link href="/example/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/example/js/jquery.min.js"></script>
    <script type="text/javascript" src="/example/js/angular.min.js"></script>
    <script type="text/javascript" src="/example/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        angular.module('bookApp', [], function($locationProvider)
        {
            $locationProvider.html5Mode(true);
        });

        Ctrl = function($scope, $window)
        {
            $scope.publisher = 1;
            $scope.binding = 'Kindle';

            $scope.findTag = function(tagId)
            {
                var selected;
                angular.forEach($scope.Tags, function(tag) {
                    if (tag.id == tagId) selected = tag;
                });
                return selected;
            }

            $scope.currentIsbn = function(isbn)
            {
                $scope.bookIsbn = isbn;
            }

            $scope.edit = function()
            {
                if ($scope.bookIsbn) {
                    $window.location.href = "/books/edit?isbn=" + $scope.bookIsbn;
                }
            }

            $scope.del = function()
            {
                if ($scope.bookIsbn) {
                    $window.location.href = "/books/delete?isbn=" + $scope.bookIsbn;
                }
            }

            $scope.parsePublishDateStr = function()
            {
                return Date.parse($scope.publishDateStr);
            }
        }
    </script>
</head>
<body ng-app="bookApp" ng-init='[MODEL_DATA]' ng-controller="Ctrl">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h1><a href="/">Book List:</a></h1>
            </div>
        </div>
        <div class="row-fluid"><div class="span12"> </div></div>
        <div class="row-fluid">
            <div class="offset8 span4">
                <form class="form-search pull-right" action="/books/search">
                  <input type="text" class="input-medium search-query" name="bookName">
                  <button type="submit" class="btn">Search</button>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 well">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ISBN</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Publish Date</th>
                            <th>Orders</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="book in books">
                            <td><input type="radio" name="bookIsbn" ng-click="currentIsbn(book.isbn)"/></td>
                            <td>{{book.isbn}}</td>
                            <td><span class="badge">{{book.binding}}</span> {{book.publisher.name}} - {{book.name}}<br/>
                                <span ng-repeat="tagId in book.tags">
                                    <span class='label {{findTag(tagId).label}}'>{{findTag(tagId).text}}</span>
                                </span>
                            </td>
                            <td>{{book.price | currency}}</td>
                            <td>{{book.publishDate | date:'mediumDate'}}</td>
                            <td>{{book.orders.length}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <a href="#addBook" role="button" class="btn btn-info" data-toggle="modal">Add Book</a>
                <button class="btn btn-info" ng-click="edit()">Edit Book</button>
                <button class="btn btn-danger" ng-click="del()">Delete Book</button>
            </div>
        </div>
    </div>

    <form class="form-horizontal" action="/books/create" method="post">
        <input type="hidden" name="book_publishDate" value="{{parsePublishDateStr()}}"/>

        <div id="addBook" class="modal hide fade" tabindex="-1" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Add Book</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="isbn">ISBN</label>
                    <div class="controls">
                        <input type="text" id="isbn" name="book_isbn" placeholder="ISBN" required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" id="name" name="book_name" placeholder="Name" required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="price">Price</label>
                    <div class="controls">
                        <input type="text" id="price" name="book_price" placeholder="Price" required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="publishDate">Publisher</label>
                    <div class="controls">
                        <input type="hidden" id="publisherId" name="book_publisher_id" value="{{publisher}}"/>
                        <input type="hidden" id="publisherIdPurpose" name="book_publisher_idPurpose" value="Locate"/>
                        <select ng-model="publisher" ng-options="p.id as p.name for p in Publishers"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="publishDate">Publish Date</label>
                    <div class="controls">
                        <input type="text" id="publishDate" ng-model="publishDateStr" placeholder="Publish Date" required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Binding</label>
                    <div class="controls">
                        <input type="hidden" name="book_binding" value="{{binding}}"/>
                        <div class="btn-group" data-toggle="buttons-radio">
                            <button type="button" class="btn active" ng-click="binding='Kindle'">Kindle</button>
                            <button type="button" class="btn" ng-click="binding='Paperback'">Paperback</button>
                            <button type="button" class="btn" ng-click="binding='Hardback'">Hardback</button>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Tags</label>
                    <div class="controls">
                        <div ng-repeat="tag in Tags">
                            <input type="checkbox" name="book_tags[{{$index}}]" value="{{tag.id}}"/>
                            <span class='label {{tag.label}}'>{{tag.text}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Add</button>
                <button class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </form>
</body>
</html>